.main-menu {
    color: white;
    font-size: 2em;
    width: 32rem;
    height:auto;
    opacity: .9 ;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
    gap: 1em;
    animation: fadeIn 2s;
}
.menu-items{
    display: flex;
    flex-direction: column;
    gap: .2em;
    justify-content: space-between;
}
.split {
    display: flex;
    justify-content: space-between;
}
.ingredients{
    font-size: .5em;
}
.breakfast {
    font-size: 1.2em;
    border-bottom: 2px solid white;
    font-weight: bold;
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: .9; }
}